    <!-- Footer -->
    <footer id="main-footer" class="py-4 bg-primary text-white text-center">
            Copyright &copy;
            <span class="year"></span> win win.
            <P>Powered by Django</P>
    </footer>
        