{% load static %}
 <!-- Top Bar -->
 <section id="top-bar" class="p-1"  style="background-color:#c2c2c2;">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <i class="fas fa-phone"></i> 0044735435484
      </div>
      <div class="col-md-4">
        <i class="fas fa-envelope-open"></i> contact@winwin.com
      </div>
      <div class="col-md-4">
        <div class="social text-right">
          <a href="https://twitter.com/winwin" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://www.facebook.com/winwin/" target="_blank">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="#">
            <!--<i class="fab fa-linkedin"></i>-->
          </a>
          <a href="https://www.instagram.com/winwin/?hl=en" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#">
            <!--<i class="fab fa-pinterest"></i>-->
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

